body{
    width: 940px;
    margin: 0 auto;    
}
img{
   width: 150px;
}

table{
    width: 640px;
}

#tab_td{
    background-color: orange;
    height: 24px;
    font-size: medium;
    color:white;
    text-align: center;
}
